/ TODO: add an "edit" and "destroy" link

.item.channel
  %h4= link_to channel.name, :action => "show", :id => channel.id
  %ul
    - if channel.channel_wins
      %li
        =h channel.name
        <strong>takes priority</strong> over global triggers.
    - else
      %li
        =h channel.name
        <strong>doesn&#8217;t take priority</strong> over global triggers.
    %li
      - if channel.public
        Helpbot is currently responding <strong>to the channel</strong>.
      - else
        Helpbot is currently responding <strong>in private messages</strong>.