.item.channel
  %h4= link_to channel.name + " <em>(" + channel.triggers.size.to_s + (channel.triggers.size == 1 ? " trigger" : " triggers") + ")</em>", channel
  
  - if owns_channel(channel)
    %p.edit
      = link_to "Edit", edit_channel_path(channel)
      %span /
      = link_to "Delete", destroy_channel_path(channel), :confirm => "Are you sure you want to delete " + channel.name + "?"
  
  %ul
    - if channel.channel_wins
      %li
        =h channel.name
        <strong>takes priority</strong> over global triggers.
    - else
      %li
        =h channel.name
        <strong>doesn&#8217;t take priority</strong> over global triggers.
    %li
      - if channel.public
        Helpbot is currently responding <strong>to the channel</strong>.
      - else
        Helpbot is currently responding <strong>in private messages</strong>.
    
    - if logged_in?
      %li
        - if owns_channel(channel)
          You <strong>have authority</strong> (can modify and delete) over this channel.
        - else
          You <strong>do not have authority</strong> (cannot modify or delete) this channel.