= error_messages_for :channel

%p
  %label Name:<br />
  = text_field :channel, :name

%p
  %label Channel triggers take priority?
  = check_box :channel, :channel_wins

%p
  %label Respond to the channel?
  = check_box :channel, :public