= render :partial => "channel", :item => @channel

%h3= @channel.name.to_s + "&#8217;s Triggers"

- unless @channel.triggers == []
  %dl
    - @channel.triggers.each do |trigger|
      %dt=h trigger.question
      %dd=h trigger.answer
- else
  %p None. :(

- if owns_channel(@channel)
  %h3
    Add a trigger to
    =h @channel.name
  - form_tag :controller => "triggers", :action => "create", :channel_id => @channel.id do
    = render :partial => "triggers/form"
    = submit_tag "Add Trigger"

/ TODO: This page should also show the channel's admins and offer to add new ones if permissions allow.