= render :partial => "channel", :item => @channel

%h3
  Add a trigger to
  =h @channel.name

- if logged_in?
  - form_tag :action => "create_trigger", :channel_id => @channel do
    = render :partial => "triggers/form"
    = submit_tag "Add Trigger"
- else
  %p
    You aren&#8217;t logged in. Please
    = link_to "log in", login_path
    to add new triggers.