%h2 Login

- form_tag :action => "create" do
  %p
    %label Login:<br />
    = text_field_tag :login, params[:login]
  
  %p
    %label Password:<br />
    = password_field_tag :password, params[:password]
  
  %p= submit_tag "Login"