<h1>Login</h1> 
<div class="form"> 
<% form_tag :action => "create" do %> 
<div> 
 <label for="login">Login: </label><br /> 
  <%= text_field_tag :login, params[:login], :class => "short" %> 
   </div> 
 <div> 
 <label for="password">Password: </label><br /> 
 <%= password_field_tag :password, params[:password], 
  :class => "short" %> 
 </div>
 <%= submit_tag "Login" %> 
 <% end %> 
 </div>