/* @override 
	http://localhost:3000/stylesheets/master.css
	http://localhost:3000/stylesheets/master.css?1206287098
*/

/*================================================
	Layout elements (except for #body stuff)
================================================*/

* { margin: 0; padding: 0; }

.clear { clear: both; }

body {
	font: 14px/1.2em Verdana, Helvetica, Arial, sans-serif;
	background: #555;
}

div#container {
	width: 50em;
	margin: 0 auto;
}

div#statusbar {
	background: #777;
	padding: 0.5em 1em 0.7em 1em;
	color: #ddd;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}

div#statusbar p {
	margin: 0;
}

div#statusbar p.left {
	float: left;
}

div#statusbar p.right {
	float: right;
}

div#statusbar a {
	border: none;
	padding: 0;
	color: #fff;
}

div#statusbar a:hover {
	color: #ddd;
	background: transparent;
}

h1#header {
	margin: 1.5em 0.5em;
}

h1#header a {
	text-decoration: none;
	color: #fff;
	text-shadow: 0 -1px 2px #000;
	font-size: 1.2em;
	border: none;
	padding: 0;
	margin: 0;
}

h1#header a:hover {
	background: transparent;
}

ul#navigation {
	margin: 0;
	list-style: none;
}

ul#navigation li {
	display: inline;
}

ul#navigation li a {
	color: #fff;
	text-decoration: none;
	background: #777;
	padding: 0.5em 1em 1em 1em;
	line-height: 2em;
	border-top: 0.15em solid #999;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}

ul#navigation li a:hover {
	background: #999;
	border-color: #ddd;
}

ul#navigation li a.current {
	background: #fff;
	border-color: #ffaa00;
	color: #000;
}

div#body {
	background: #fff;
	padding: 1em;
	position: relative;
	z-index: 10;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}

div#footer {
	text-align: center;
	padding: 1em;
	color: #222;
}

/*================================================
	General display elements
================================================*/

a {
	color: #e65a00;
	padding: 0.1em;
}

a:hover {
	background: #e65a00;
	color: #fff;
}

p, ul, ol, blockquote, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5em;
}

h2 {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

h3 {
	margin-top: 1.5em;
	margin-bottom: 1em;
}

ul, ol {
	list-style-position: outside;
	margin-left: 2em;
	list-style: ;
	list-style-type: circle;
}

div.item {
	background: #fcefdd;
	margin-bottom: 1em;
	padding: 0.5em;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}

div.item h4 {
	background: #fdc476;
	padding: 0.5em 0.75em;
	margin: -0.5em -0.5em 0.5em -0.5em;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}

div.item h4 a {
	text-decoration: none;
	color: #843300;
}

div.item h4 a:hover {
	background: none;
	color: #000;
}

div.item p.edit {
	float: right;
	margin-top: -2.25em;
	color: #f95f00;
}

div.item p.edit a {
	text-decoration: none;
	color: #c44b00;
}

div.item p.edit a:hover {
	color: #000;
}

div.dim div.item {
	background: #fcf4ea;
}

div.dim div.item h4 {
	background: #fce5c4;
}

/*================================================
	Page elements
================================================*/

p.notice {
	padding: 1em;
	padding-left: 3.5em;
	margin-bottom: 1em;
	background: #e3ecc9 url(../images/sweetie/24-em-check.png) 1em center no-repeat;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}

p.notice.error {
	background-color: #ffe6e6;
	background-image: url(../images/sweetie/24-em-cross.png);
}

a.new {
	float: right;
	margin-top: -2.75em;
	background: url(../images/sweetie/12-em-plus.png) center left no-repeat;
	padding-left: 1em;
	text-decoration: none;
	color: #667849;
}

a.new:hover {
	color: #000;
}




