%h2 Credits
%p Coded by <a href="http://waywardramblings.com">Noah Lackstein</a> and <a href="http://airfrost.ca">River Jiang</a>.  Powered by <a href="http://rubyonrails.com">Rails</a>. This app uses some of the great icons from the <a href="http://sweetie.sublink.ca/">Sweetie Icon Set</a>.