.item
  %h4= link_to trigger.question, trigger_path(trigger)
  - if owns_trigger(trigger)
    %p.edit
      = link_to "Edit", edit_trigger_path(trigger)
      %span /
      = link_to "Delete", destroy_trigger_path(trigger), :confirm => "Are you sure you want to delete this trigger?"
  %p=h trigger.answer