%h2 Trigger

%p.new You may add new triggers from channels.

= render :partial => "trigger", :object => @trigger

%h3 More Meta!

%ul
  %li
    This trigger belongs to
    = link_to Channel.find(@trigger.channel_id).name, channel_path(@trigger.channel_id)
  %li
    This trigger was created on
    = @trigger.created_at.strftime "%A, %B %e"
    - unless @trigger.created_at == @trigger.updated_at
      and was last modified on
      = @trigger.updated_at.strftime "%A, %B %e"